<form action="/triangulate">
  <label for="side_a">Side A</label>
  <input type="number" id="side_a" name="side_a">
  <label for="side_b">Side B</label>
  <input type="number" id="side_b" name="side_b">
  <label for="side_c">Side C</label>
  <input type="number" id="side_c" name="side_c">
  <button type="submit" id="triangulate">Triangulate</button>
</form>
